

.pricing-section {
    padding: 4rem 2rem;
    background: linear-gradient(
    180deg,
    #f9fafb 0%,
    #f2f7ff 100%
  );
    
    text-align: center;
}

.pricing-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.pricing-card {
    display: inline-block;
    background: white;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
}

.pricing-card h3 {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    padding: 2px;


}


.pricing-card p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: table-cell;
    padding: 2px;
}

.pricing-card span.mobile-only {
    display: none;
}

.pricing-card span.service-name {
    font-weight: 500;
}




.pricing-card .description {
    text-align: left;
}


.pricing-details table {
    width: 100%;
    border-collapse: collapse;
}

.pricing-details th,
.pricing-details td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
}



/* Heading of table */
.pricing-details th {
    background-color: rgb(0, 137,192);
    color: white;
    text-align: left;
}

/* Every even child gets different color */
.pricing-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.payment-icon {
    height: 30px;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .pricing-card {
        padding: 1rem 1rem;
    }

    .pricing-details table,
    .pricing-details th,
    .pricing-details td {
       

        font-size: 0.9rem;
    }
}

/* Mobile stacked layout */
@media (max-width: 500px) {
    .pricing-section {
        padding: 2rem 1rem;
    }

    .pricing-table thead {
        display: none;
        /* hide header */
    }

    .pricing-table tr {
 
        margin-bottom: 1.5rem;
        border-radius: 10px;
        border: #cacaca solid 0.5px;
    }



    .pricing-table td {
        padding: 6px 0;
        text-align: center;
    }

    .pricing-table td::before {
        /* Add labels manually */
        font-weight: bold;
        color: #333;

    }

    .pricing-card td {
        text-align: left;
        font-size: 0.8rem;
        font-weight: 0;
        padding: 15px;


    }


    .pricing-card .description {
    display: none;
    }

    /* Hide the second column (time) and third column (price stays if needed) */
    .desktop-only {
        display: none;
    }

    /* Optional: style mobile-time separately */
    .pricing-card span.mobile-only {
        display: inline;
        font-weight: normal;
        color: #333;
        font-size: 0.9rem;
    }


}