.gallery-section {
    padding: 3em;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


.gallery-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
}


.gallery-img:hover {
    transform: scale(1.05);
}


.preview-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.preview-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

/* Mobile responsive: 1 column */
@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        height: 250px;
    }
}

