.gallery-section {
    padding: 1.5em;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


.gallery-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
}


.gallery-img:hover {
    transform: scale(1.05);
}


.preview-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.preview-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    object-fit: contain;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 20px;
    user-select: none;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.close-btn {
    position: absolute;
    top: 100px;
    right: -10px;
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


/* Mobile responsive: 1 column */
@media (max-width: 500px) {

    .gallery-grid {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding: 0 10px;
        scroll-behavior: smooth;

        /* Make it obvious that you can scroll */
        cursor: grab;
        height: 330px; /* adjust as needed */
        align-items: center;
    }

    .gallery-wrapper {
        padding: 5px;
    }

    .gallery-grid:active {
        cursor: grabbing;
    }

    .gallery-img {
        height: 90%;
        scroll-snap-align: center;
        object-fit: cover;
        border-radius: 10px;

        /* Subtle shadow to pop out */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    /* Hide scrollbar */
    .gallery-grid::-webkit-scrollbar {
        display: none;
    }

}

