.services-section {
  padding: 4rem 2rem;
  background: linear-gradient(
        180deg,
        #f9fafb 0%,
        #f2f7ff 100%
  );
  text-align: center;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  background: #f2f2f2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}



.service-item {
  gap: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.service-item:hover {
  transform: scale(1.02);
}

.service-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.service-info {
  display: flex;
  flex: 1;
  gap: 20px;
  text-align: left;
}

.service-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.service-info p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #555;
}

/* Smooth expansion */
.service-details {
  max-height: 0;
  /* collapsed */
  overflow: hidden;
  transition: max-height 1s ease;
  /* smooth animation */
}

.service-details.open {
  max-height: 500px;
  /* adjust to expected content height */
  padding-top: 1em;
}

/* Optional: smooth fade in */
.service-details p,
.service-details video {
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-details.open p,
.service-details.open video {
  opacity: 1;
}


.service-video {
  border-radius: 12px;
  max-height: 300px;
}

/* Mobile responsive */
@media (max-width: 950px) {

  .services-section {
    padding: 2rem 1rem;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .service-img {
    width: 100px;
    height: 100px;
  }

  .service-info {
    gap: 20px;
    display: flex;
  }

  .service-info h3 {
    font-size: 1em;
  }

  .service-info p {
    font-size: 0.8em;
  }

  .service-details.open p {
    font-size: 0.9em;
  }

  .services-list {
    padding: 1rem;
  }


  .service-video {
    max-height: 250px;
  }
}