.footer {
  background: #0e0e0e;
  color: white;
  padding: 15px;
}

.footer-content {
  display: flex;
  flex-direction: column; /* stack all sections vertically */
  align-items: center;    /* center the content */
  gap: 30px;              /* space between sections */
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 6px;
  
}

.footer-item a{
  text-decoration: none;
  color: white;
  
}

.footer-icon {
  width: 18px;
  height: 18px;
}

.social-icons {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  color: white;
  transition: opacity 0.3s ease;
}

.social-icon:hover {
  opacity: 0.7;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.7;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
}
