header.navbar {
  background-color: #2E8B57;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
}

.logo {
  height: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #01020caa);
}


.logo-img {
  height: 100%;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #454545;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.icon {
  margin-right: 2px;
  vertical-align: middle;
  height: 20px;
}

.nav-item {
  font-size: smaller;
  display: flex;
  align-items: center;
  gap: 2px;
}

.social-media {
  display: flex;
  gap: 12px;
  /* space between icons */
  margin-left: 15px;
}

.social-media .icon {
  color: white;
  /* make icons white */
  width: 22px;
  height: 22px;
}

/* Optional: hover effect */
.social-media a:hover .icon {
  opacity: 0.7;
}


/* Mobile Styles */
@media (max-width: 950px) and (min-width: 501px){

  .mobile-header-row {
    display: flex;
    justify-content: flex-end;
    /* equal spacing */
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #2E8B57;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 0.75rem 1rem;
  }

  .menu-toggle {
    display: block;
  }


}

@media (max-width: 500px) {
  .social-media{
    display: none;

  }
  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }



  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #2E8B57;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 0.75rem 1rem;
  }

  .menu-toggle {
    display: block;
  }

}

