name: Deploy to Google Cloud Storage

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

        # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

        # Install dependencies
      - name: Install Dependencies
        run: npm install

        # Build React App (Vite or CRA)
      - name: Build React App
        run: npm run build

        # Authenticate with Google Cloud
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

        # Upload build output to GCS
      - name: Upload to GCS
        uses: google-github-actions/upload-cloud-storage@v1
        with:
          path: ./dist
          destination: ${{ secrets.GCP_BUCKET }}
          parent: false